/* Estilo para el cuerpo de la página */
body {
    font-family: "Lucida Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilo para el título h1 */
h1 {
    background-color: lightblue;
    text-align: center;
    border: 5px solid blue;
    padding: 10px;
}

/* Estilo para el título h2 */
h2 {
    color: white;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

/* Estilo para la lista ul */
ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

/* Estilo para los elementos de la lista li */
li {
    display: inline-block;
    border: 2px solid orangered;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: white;
}

/* Estilo para los enlaces a */
a {
    color: orangered;
    text-decoration: none; 
}
